\{{!--Template use in app/views/{{module}}/{{name}}ResultView.js --}}
<div>
  \{{#result "module.name.title"}}
        <thead id="tableHeader">
          <tr>
            <th style="width:20%;">\{{sortColumn "#COL1" translationKey="#LABEL_SEARCH_COL1"}}</th>
          </tr>
        </thead>
        <tbody>
          \{{#each collection}}
          <tr>
            <td>\{{display_for "#COL1" isNoLabel=true}}</td>
          </tr>
          \{{/each}}
        </tbody>
  \{{/result}}
</div>